// COLOR PALETTE
$mainColor: #36A6DC;

html, body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#nextRoute {
  margin-bottom: 20px;
}

#ViewContainer {
  //margin: 5%;
  font-size: 20px;
  padding: 10%;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 450px;
  height: 100%;
  background-color: $mainColor;
  color: white;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
    transition: .2s;

    &:hover{
      background-color: white;
      color: $mainColor;
      transition: .2s;

      #Link {
        color: $mainColor;
      }

    }

    #Link {
      color: white;
      text-decoration: none;
      transition: .2s;
    }
  }

  img {
    height: 13px;
    width: 21px;
  }
}


#newData {
  margin-top: 10%;

  #save {
    margin-top: 20px;
  }

}

#colorField {
  color: black;
}


#file-input {
  background-color: transparent;
}

#second {
  padding-top: 20px;
}


.delete:hover {
  background-color: red !important;
  color: white !important;
  transition: .2s;
}

.edit:hover {
  background-color: #68A324 !important;
  color: white !important;
  transition: .2s;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
}

.hide {
  display: none;
}