.container {
  display: flex;
  position: relative;
}

.dashboard {
  flex: 0 0 70%;
  max-width: 70%;
}

.dashboard__row {
  padding: 5px 0px;
}

.aside {
  position: absolute;

  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 10px 5px;

  /* border-left: 1px dashed #333333; */
  background-color: white;

  z-index: 100;
}

.sidebar,
.sidebar__content {
  height: 100%;
}

.sidebar__content-part {
  height: 50%;
}
