// COLOR PALETTE
$mainColor: #36A6DC;

#nextRoute {
  margin-bottom: 20px;
}

#GeneratorView {
  //margin: 5%;
  font-size: 20px;
  padding: 10%;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 450px;
  height: 100%;
  background-color: $mainColor;
  color: white;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
    transition: .2s;
    display: block;

    &:hover{
      background-color: white;
      color: $mainColor;
      transition: .2s;

      #Link {
        color: $mainColor;
      }

    }

    #Link {
      color: white;
      text-decoration: none;
      transition: .2s;
    }
  }

  img {
    height: 50px;
    width: 50px;
  }

  a{
    text-decoration: none;
    color: white;
    transition: .2s;

    &:visited {
      color: white;
    }

    &:hover {
      color: green;
      transition: .2s;
    }
  }
}


#newData {
  margin-top: 10%;

  #save {
    margin-top: 20px;
  }

}

#colorField {
  color: black;
}


#file-input {
  background-color: transparent;
}

#download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 15%;
}