/**
    start Color palette
*/

$backgroundColor: white;
$textColor: rgb(80,80,80);
$textColorButton: #00C846;
$boxShadow: 0 0 10px rgba(0,0,0,0.5);
$textGreenText: #00C846;

$approveStatus: rgb(0,160,240);
$pendingStatus:  rgb(255,140,0);
$disapproveStatus: red;

/**
    endColor palette
*/


/**
    mixins
*/
@mixin font-size($size, $weight) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin headerSetting($justify) {
  border-radius: 10px;
  background-color: $backgroundColor;
  display: flex;
  justify-content: $justify;
  padding-top: 4%;
  padding-right: 4%;
}

.commonStyle--modal__open {
  z-index: 999999;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 298px;
  height: 178px;
  background-color: $backgroundColor;
  border-radius: 10px;
  box-shadow: $boxShadow;
}
.commonStyle--modal__close {
  display: none !important;
}

.commonStyle--modal__header {
  @include headerSetting(flex-end);
}

.commonStyle--modal__body  {
  p {
    margin-top: 1%;
    color: $textColor;
    @include font-size(17px, 400);
  }
}

.commonStyle--modal__footer  {
   p {
     color: $textGreenText;
     @include font-size(17px, 400);
   }
}

/* ========= MODAL INFORMATION ==========*/

.commonStyle--modalInformation__header {
  @include headerSetting(space-between);
  margin-bottom: 20px;

  .commonStyle--modal__header__img-container {
    height: 20px;
    width: 30px;
    display: flex;
    justify-content: center;
  }
}

.commonStyle--modalInformation__body  {
  p {
    margin-top: 1%;
    margin-bottom: 18%;
    color: $textColor;
    @include font-size(20px, 400);
  }
}

.ml20 {
  margin-left: 20px !important;
}


#modalInformation--p__status {
  margin: 0 20px;
}



/*
  COLOR STATUS
*/

.approve {
  color: $approveStatus;
  @include font-size(18px, 400);
}

.disapprove {
  color: $disapproveStatus;
  @include font-size(18px, 400);
}

.pending {
  color: $pendingStatus;
  @include font-size(18px, 400);
}

