* {
  margin: 0 auto;
  padding: 0;
}

/*p {
	margin: 15px 0 0 0;
	text-align: center;
}*/

body {
  width: 100%;
  background-color: #4E73A0;
}

canvas {
  margin-top: 15px;
  margin-bottom: 15px;
  background: #FFFFFF;
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
}


.wrapper {
  display: flex;
  justify-content: space-between;
}

.controller {
  position: fixed;
  width: 300px;
  height: 400px;
  z-index: 9999;
  background: white;
  left: 0;
}